#Isotope {
  font-family: $FirstFontfamily;

  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width:768px) {
      flex-wrap: wrap;
      
    }
  }
  button {
    height: 60px;
    display: inline-block;
    padding: 10px 18px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid grey;
    color: grey;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 200px;
    cursor: pointer;
    text-transform: uppercase;
    @media (max-width:768px) {height: auto;
      
    }
  }

  .button:hover {
    background-color: $RedColor;
    border-color: transparent;
    transition: all 0.25s ease;
    color: white;
  }

 

  .button:active,
  .button.is-checked {
    background-color: $RedColor;
    border-color: transparent;
    color: white;
  }

  .button:active {
    background-color: white;
    border-color: white;
    color: white;
  }

  /* ---- button-group ---- */

  .button-group {
    margin: 20px 0px 0px 10px;
  }

  .button-group:after {
    content: "";
    display: block;
    clear: both;
  }

  .button-group .button {
    float: left;
    border-radius: 0.1em;
    margin-left: 0;
    margin-right: 5px;
  }

  .grid-item {
    margin: 0.8%;
    background-size: cover;
    transition: 0.2s ease;
  }

  .grid-item:hover {
    cursor: pointer;
    background-color: #f63b0052;
    background-blend-mode: multiply;
    transition: ease 0.5s;
  }

  .g1 {
    width: 15%;
    height: 450px;

    @include BgImg;
  }

  .g2 {
    width: 15%;
    height: 450px;

    background-position: top;
  }

  .g3 {
    width: 15%;
    height: 250px;

    @include BgImg;
  }

  .g4 {
    width: 15%;
    height: 200px;

    background-position: top;
  }

  .g5 {
    width: 31.6%;
    height: 600px;

    background-position: top;
  }

  .g6 {
    width: 15%;
    height: 200px;

    background-position: top;
  }

  .g7 {
    width: 15%;
    height: 200px;

    background-position: top;
  }

  .g8 {
    width: 31.6%;
    height: 500px;

    background-position: bottom;
  }

  .g9 {
    width: 15%;
    height: 300px;

    background-position: bottom;
  }

  .g10 {
    width: 15%;
    height: 200px;

    background-position: top;
  }

  .g11 {
    width: 31.6%;
    height: 348px;

    background-position: top;
  }

  .g12 {
    width: 15%;
    height: 250px;

    background-position: bottom;
  }

  .g13 {
    width: 15%;
    height: 200px;

    background-position: top;
  }

  .fashion {
    background-color: pink;
  }

  .interior {
    background-color: lightblue;
  }

  .hairstyles {
    background-color: salmon;
  }

  .jewelry {
    background-color: #cdcdc1;
  }

  .bags {
    background-color: lavender;
  }

  @media only screen and (max-width: 1900px) {
    .grid-item {
      width: 16%;
    }
  }
  @media only screen and (max-width: 1500px) {
    .grid-item {
      width: 15.9%;
    }
  }
  @media only screen and (max-width: 1320px) {
    .grid-item {
      width: 15.8%;
    }
  }
  @media only screen and (max-width: 1172px) {
    .grid-item {
      width: 15.7%;
    }
  }
  @media only screen and (max-width: 1020px) {
    .grid-item {
      width: 18.8%;
    }
  }
  @media only screen and (max-width: 862px) {
    .grid-item {
      width: 23.5%;
    }
  }
  @media only screen and (max-width: 862px) {
    .grid-item {
      width: 23.5%;
    }
  }
  @media only screen and (max-width: 672px) {
    .grid-item {
      width: 31.2%;
    }
    .button {
      font-size: 10px;
    }
  }
  @media only screen and (max-width: 497px) {
    .grid-item {
      width: 47%;
    }
    .button {
      font-size: 10px;
    }
  }
}
