
$grayColor:#C4C4C4;
$DarkBlue:#1794DB;
$LightBlue:#D8ECFF;
$VeryligthBlue:#EDF6FF;
$RedColor:#ee1d24;
$WhiteColor:#FFFFFF;
$textFont:1rem;
$FirstFontfamily: 'Raleway';
$footerBg:#203569;
$mainTextColor:#203569;

