@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
nav {
  /* Media qurey section */
  /* Animation */
  /* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
}

nav .BackGrondtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: auto;
  overflow: hidden;
  padding: 214px 0px;
  background-color: rgba(3, 3, 3, 0.592);
  top: 0px;
}

@media (max-width: 768px) {
  nav .BackGrondtext {
    padding: 0;
  }
}

@media (max-width: 768px) {
  nav .BackGrondtext {
    height: auto;
  }
}

nav .BackGrondtext .CssSlider .SlidersItemsNav .SliderItemtext .tricker {
  height: 50px;
  overflow: hidden;
}

nav .BackGrondtext .CssSlider .SlidersItemsNav .SliderItemtext .tricker h1 {
  color: white;
  margin: 0;
  height: 50px;
  line-height: 50px;
  font-size: 59px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: margin-top 0.3s ease;
  transition: margin-top 0.3s ease;
}

@media (max-width: 768px) {
  nav .BackGrondtext .CssSlider .SlidersItemsNav .SliderItemtext .tricker h1 {
    font-size: 34px;
  }
}

nav .BackGrondtext .CssSlider .SlidersItemsNav .SliderItemtext .tricker h1 span {
  color: #1794db;
  font-weight: bold;
}

nav .BackGrondtext .CssSlider .SlidersItemsNav .SliderItemtext .subline {
  width: 100px;
  height: 2px;
  margin: 10px auto;
  background-color: #181818;
}

@media (max-width: 768px) {
  nav .BackGrondtext {
    padding: 250px 0px;
  }
}

nav .BackGrondtext p {
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  border-bottom: 1px solid #ffffff;
}

@media (max-width: 768px) {
  nav .BackGrondtext p {
    font-size: 10px;
  }
}

nav .BackGrondtext .SliderItemtext {
  width: 703px;
  overflow: hidden;
}

nav .BackGrondtext button {
  background: transparent;
  width: 210px;
  height: 51px;
  color: #ffffff;
  padding: 8px 2px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  margin-top: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

nav .BackGrondtext button:hover {
  background-color: #ee1d24;
  color: white;
  border: none;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

@media (max-width: 768px) {
  nav .BackGrondtext button {
    width: 147px;
    height: 42px;
  }
}

nav .nav {
  width: 100%;
  height: 65px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  line-height: 65px;
  text-align: center;
  z-index: 666;
}

nav .nav .logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

@media (max-width: 768px) {
  nav .nav .logo {
    padding-left: 10px;
  }
}

nav .nav .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

nav .nav .container {
  padding: 0;
}

@media (max-width: 992px) {
  nav .nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  nav .nav .container {
    display: block;
  }
}

nav .nav div.main_list {
  height: 65px;
  float: right;
}

nav .nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .nav div.main_list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 1rem;
  color: #203569;
}

nav .nav div.main_list ul li i {
  font-size: 6px;
  margin-left: 9px;
  margin-top: 6px;
}

nav .nav div.main_list ul li a {
  margin-left: 4px;
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 1rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

nav .nav div.main_list ul li a:hover {
  color: #ee1d24;
}

nav .navTrigger {
  display: none;
}

nav .nav {
  background-color: rgba(0, 0, 0, 0.592);
  padding-bottom: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .nav:hover {
  background-color: rgba(0, 0, 0, 0.836);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav .container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  nav .navTrigger {
    display: block;
  }
  nav .nav div.logo {
    padding-left: 10px;
  }
  nav .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav .nav div.main_list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    /*same background color of navbar*/
    background-position: center top;
  }
  nav .nav div.main_list ul li {
    width: 100%;
    text-align: left;
  }
  nav .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 1rem;
    padding: 20px;
    color: black;
  }
  nav .nav div.show_list {
    height: auto !important;
    display: none;
  }
  nav .nav div.media_button {
    display: block;
  }
}

nav .navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

nav .navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

nav .navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

nav .navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

nav .navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

nav .navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

nav .navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

nav .navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
            transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}

nav .affix {
  padding: 0;
  background-color: #111;
}

nav .myH2 {
  text-align: center;
  font-size: 4rem;
}

nav .myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}

@media all and (max-width: 700px) {
  nav .myP {
    padding: 2%;
  }
}

nav #Product {
  position: relative;
}

nav #Product ul {
  border-top: 2px solid #203569;
  z-index: 666666;
  height: auto;
  width: 200px;
  height: auto;
  background-color: #203569;
  padding: 0;
  position: absolute;
  top: 60px;
  left: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

nav #Product ul .ProductItem {
  text-align: left;
  padding-left: 25px;
  height: 50px;
}

nav #Product ul .ProductItem a {
  font-size: 14px;
  color: white !important;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav #Product ul .ProductItem a:hover {
  color: #ee1d24 !important;
}

@media (max-width: 768px) {
  nav #Product ul .ProductItem {
    background-color: black;
  }
}

nav #Product:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#videoBkg {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  height: 655px;
  top: 0;
  left: fixed;
  position: absolute;
  right: 0;
  width: 100%;
  /* height: 300px; */
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  #videoBkg {
    height: 716px;
  }
}

.ItemSVideoText {
  padding: 0 !important;
}

.SlickNav {
  background: white !important;
  position: fixed !important;
  z-index: 66666;
}

.SlickNav .navTrigger i {
  background-color: #ee1d24;
}

.SlickNav ul li a {
  color: black !important;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.SlickNav ul li a:hover {
  color: #ee1d24 !important;
}

#Application {
  margin-top: 4rem;
  padding: 2rem 0rem;
}

#Application h1 {
  letter-spacing: 0.5px;
  font-size: 30px;
  position: relative;
  font-weight: 500;
  font-family: "Bebas Neue", cursive;
}

#Application h1::before {
  top: 10px;
  content: "";
  position: absolute;
  height: 19px;
  width: 200px;
  left: 87px;
  background-color: #c4c4c4;
}

@media (max-width: 1200px) {
  #Application h1::before {
    top: 10px;
    content: "";
    position: absolute;
    height: 19px;
    width: 200px;
    left: -65px;
    background-color: #c4c4c4;
  }
}

@media (max-width: 992px) {
  #Application h1::before {
    top: 15px;
    content: "";
    position: absolute;
    height: 8px;
    width: 86px;
    left: -46px;
    background-color: #c4c4c4;
  }
}

@media (max-width: 768px) {
  #Application h1::before {
    display: none;
  }
}

#Application h1::after {
  top: 10px;
  content: "";
  position: absolute;
  height: 19px;
  width: 200px;
  right: 87px;
  background-color: #c4c4c4;
}

@media (max-width: 1200px) {
  #Application h1::after {
    top: 10px;
    content: "";
    position: absolute;
    height: 19px;
    width: 200px;
    right: -65px;
    background-color: #c4c4c4;
  }
}

@media (max-width: 992px) {
  #Application h1::after {
    top: 15px;
    content: "";
    position: absolute;
    height: 8px;
    width: 86px;
    right: -46px;
    background-color: #c4c4c4;
  }
}

@media (max-width: 768px) {
  #Application h1::after {
    display: none;
  }
}

#Application .SocialApplication .Icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}

#Application .SocialApplication .Icons img {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#Application .SocialApplication .Icons img:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

#Application .SocialApplication .Icons img:hover .IconItem {
  overflow: hidden;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  border: 4px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

#Application .SocialApplication .Icons .IconItem:hover {
  overflow: hidden;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  border: 4px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

#Application .SocialApplication h3 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  padding: 15px 0px;
  font-size: 17px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#Application .SocialApplication p {
  padding: 0px 30px;
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 768px) {
  #Application .SocialApplication p {
    padding: 28px;
  }
}

#Application .SocialContainer {
  padding: 40px 0px;
}

#Application .SocialContainer .col-lg-6 {
  margin: 15px 0px;
}

#Application .SocialContainer .col-lg-12 {
  width: 700px;
  margin: 0 auto;
}

#ABOUT3DELING {
  background-color: #d8ecff;
  padding: 20px 0px;
}

#ABOUT3DELING .HeadAbout3Deling h2 {
  letter-spacing: 0.5px;
  font-family: "Bebas Neue", cursive;
  position: relative;
  padding-top: 30px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

#ABOUT3DELING .HeadAbout3Deling h2::before {
  top: 41px;
  content: "";
  position: absolute;
  height: 19px;
  width: 240px;
  left: 200px;
  background-color: #c4c4c4;
}

@media (max-width: 1200px) {
  #ABOUT3DELING .HeadAbout3Deling h2::before {
    top: 41px;
    content: "";
    position: absolute;
    height: 19px;
    width: 240px;
    left: 80px;
  }
}

@media (max-width: 992px) {
  #ABOUT3DELING .HeadAbout3Deling h2::before {
    top: 41px;
    content: "";
    position: absolute;
    height: 19px;
    width: 200px;
    left: -40px;
  }
}

@media (max-width: 768px) {
  #ABOUT3DELING .HeadAbout3Deling h2::before {
    display: none;
  }
}

#ABOUT3DELING .HeadAbout3Deling h2::after {
  top: 41px;
  content: "";
  position: absolute;
  height: 19px;
  width: 240px;
  right: 200px;
  background-color: #c4c4c4;
}

@media (max-width: 1200px) {
  #ABOUT3DELING .HeadAbout3Deling h2::after {
    top: 41px;
    content: "";
    position: absolute;
    height: 19px;
    width: 240px;
    right: 80px;
  }
}

@media (max-width: 992px) {
  #ABOUT3DELING .HeadAbout3Deling h2::after {
    top: 41px;
    content: "";
    position: absolute;
    height: 19px;
    width: 200px;
    right: -40px;
  }
}

@media (max-width: 768px) {
  #ABOUT3DELING .HeadAbout3Deling h2::after {
    display: none;
  }
}

#ABOUT3DELING .textAbout3Deling p {
  font-size: 1rem;
  padding-top: 2rem;
}

#ABOUT3DELING .TextItem {
  padding: 20px 10px;
}

#ABOUT3DELING .TextItem p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
}

#ABOUT3DELING button {
  border: 1px solid transparent;
  background-color: #ee1d24;
  color: #ffffff;
  width: 150px;
  height: 40px;
  -webkit-transition: .2s all;
  transition: .2s all;
  font-weight: 500;
}

#ABOUT3DELING button:hover {
  background-color: #ffffff;
  color: #ee1d24;
}

#ABOUT3DELING #Information {
  margin-top: 10px;
  padding-top: 20px;
}

#ABOUT3DELING #Information h6 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

#ABOUT3DELING #Information .Info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#ABOUT3DELING #Information .Info .InfoHead {
  margin-left: 25px;
}

#ABOUT3DELING #Information .Info i {
  font-size: 20px;
  color: #ee1d24;
}

#ABOUT3DELING #Information .Info h5 {
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: .2s all;
  transition: .2s all;
  font-family: "Bebas Neue", cursive;
}

#ABOUT3DELING #Information .Info h5:hover {
  color: #ee1d24;
}

#ABOUT3DELING #Information .Info p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-align: initial;
}

#ABOUT3DELING #Information .Info a {
  text-decoration: none;
  color: #ee1d24;
  font-weight: 600;
}

#WORKFLOW {
  padding: 30px 0px;
}

#WORKFLOW h1 {
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  position: relative;
  margin-top: 50px;
}

#WORKFLOW h1::before {
  top: 10px;
  content: "";
  position: absolute;
  height: 19px;
  width: 240px;
  left: 150px;
  background-color: #c4c4c4;
}

@media (max-width: 1300px) {
  #WORKFLOW h1::before {
    top: 12px;
    content: "";
    position: absolute;
    height: 19px;
    width: 200px;
    left: 47px;
  }
}

@media (max-width: 992px) {
  #WORKFLOW h1::before {
    top: 10px;
    content: "";
    position: absolute;
    height: 12px;
    width: 124px;
    left: -114px;
  }
}

@media (max-width: 768px) {
  #WORKFLOW h1::before {
    display: none;
  }
}

#WORKFLOW h1::after {
  top: 10px;
  content: "";
  position: absolute;
  height: 19px;
  width: 240px;
  right: 150px;
  background-color: #c4c4c4;
}

@media (max-width: 1300px) {
  #WORKFLOW h1::after {
    top: 12px;
    content: "";
    position: absolute;
    height: 19px;
    width: 200px;
    right: 47px;
  }
}

@media (max-width: 992px) {
  #WORKFLOW h1::after {
    top: 10px;
    content: "";
    position: absolute;
    height: 12px;
    width: 124px;
    right: -114px;
  }
}

@media (max-width: 768px) {
  #WORKFLOW h1::after {
    display: none;
  }
}

#WORKFLOW .TextWorkFlow {
  margin-top: 40px;
}

#WORKFLOW .TextWorkFlow p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
  line-height: 27px;
}

@media (max-width: 768px) {
  #WORKFLOW .TextWorkFlow p {
    padding: 9px 21px;
  }
}

#WORKFLOW #utvs_62305b8ce581b {
  overflow: hidden;
  height: 600px;
  width: 1000px !important;
  position: relative;
  max-width: 100%;
  border: 1px solid;
  margin: 0 auto;
  padding: 10px 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  #WORKFLOW #utvs_62305b8ce581b {
    height: 200px;
  }
}

#WORKFLOW #utvs_62305b8ce581b .fa-youtube-play {
  position: absolute;
  color: white;
  bottom: 10px;
  left: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  #WORKFLOW #utvs_62305b8ce581b .fa-youtube-play {
    font-size: 25px;
  }
}

#WORKFLOW #utvs_62305b8ce581b .ut-video-loading .fa-spinner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

#WORKFLOW #utvs_62305b8ce581b img {
  max-width: 100%;
}

#OurProduct h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  padding: 10px 0px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5px;
}

#OurProduct .ProductItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#OurProduct .ProductItem h5 {
  font-family: "Bebas Neue", cursive;
  font-size: 17px;
}

#OurProduct .ProductItem .ProductLogo img {
  width: 90px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  #OurProduct .ProductItem .ProductLogo img {
    width: 50px;
  }
}

#OurProduct .ProductItemText {
  text-align: center;
  margin: 15px 0px !important;
}

#OurProduct .ProductItemText h5 {
  display: inline-block;
}

#OurProduct .ProductItemText p {
  font-size: 1rem;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
}

#OurProduct .col-lg-3 {
  margin: 15px 0px;
}

#Promotion {
  padding: 50px 0px;
  margin-top: 20px;
}

#Promotion .PromotionLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  #Promotion .PromotionLogos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

#Promotion .PromotionLogos .Logo img {
  width: 150px;
  cursor: pointer;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  opacity: 0.7;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#Promotion .PromotionLogos .Logo img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 768px) {
  #Promotion .PromotionLogos .Logo img {
    width: 135px;
  }
}

@media (max-width: 768px) {
  #Promotion .PromotionLogos .Logo {
    text-align: center;
    margin-bottom: 20px;
  }
}

#Isotope {
  padding: 30px 0px;
  /* ********* SASS EXTENDS  ********* */
  /* ********* SASS FUNCTIONS ********* */
  /* ********* SASS MIXINS ********* */
  /* FILTERS */
  /* LIST */
}

#Isotope h1 {
  font-size: 40px;
  padding: 11px 1px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5px;
  font-weight: 500;
}

#Isotope .button button {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid grey;
  color: grey;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  #Isotope .button button {
    height: 100px;
    width: auto !important;
  }
}

@media (max-width: 768px) {
  #Isotope .button button {
    height: auto;
    width: auto !important;
  }
}

#Isotope .button button .button:active {
  background-color: #ee1d24;
  border-color: transparent;
  color: white;
}

#Isotope button:hover {
  background-color: #ee1d24;
  border-color: transparent;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: white;
}

#Isotope .content {
  width: 1200px;
  margin: 0 auto;
}

#Isotope h2 {
  font-weight: 400;
}

#Isotope .copyright {
  font-style: italic;
}

#Isotope .content {
  text-align: center;
}

#Isotope p {
  margin-bottom: 0.375em;
}

#Isotope ul {
  margin-bottom: 1em;
  list-style: none;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#Isotope .button {
  display: block;
  width: 100%;
  padding: 20px 0px;
}

#Isotope button {
  margin: 0.5em;
  padding: 0.5rem;
  border: 1px solid #393838;
  color: #393838;
  background: none;
  font-size: 0.7em;
  text-transform: uppercase;
  font-size: 0.875em;
}

@media (max-width: 768px) {
  #Isotope button {
    font-size: 16px;
  }
}

#Isotope button.is-active {
  background: #ee1d24;
  border: transparent;
  color: #ffffff;
}

#Isotope .list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#Isotope .list__item {
  display: block;
  width: 100%;
  height: 18em;
  overflow: hidden;
  margin-bottom: 1em;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  -webkit-box-shadow: 0 0 2px rgba(57, 56, 56, 0.2);
          box-shadow: 0 0 2px rgba(57, 56, 56, 0.2);
  position: relative;
}

#Isotope .list__item .HoverItemIsotope {
  width: 100%;
  height: 100%;
  background-color: #20356996;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-320px);
          transform: translateY(-320px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#Isotope .list__item .HoverItemIsotope .HoverBody p {
  font-size: 12px;
}

#Isotope .list__item:hover .HoverItemIsotope {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

@media (max-width: 768px) {
  #Isotope .list__item {
    max-width: 100%;
  }
}

#Isotope .list__item__title {
  display: block;
  margin-top: 30%;
}

@media screen and (min-width: 600px) {
  #Isotope .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #Isotope .list__item {
    width: calc(33% - 1em);
    margin-right: 1em;
  }
  #Isotope .list__item:nth-child(3n) {
    clear: left;
  }
  #Isotope .list__item:nth-child(-n + 2) {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  #Isotope button {
    margin: 0.5em;
    padding: 0.5em;
  }
  #Isotope .list__item {
    width: calc(20% - 1em);
  }
  #Isotope .list__item:nth-child(2n) {
    margin-right: 1em;
  }
  #Isotope .list__item:nth-child(3n) {
    clear: none;
    margin-right: 0;
  }
  #Isotope .list__item:nth-child(4n) {
    clear: left;
  }
  #Isotope .list__item:nth-child(-n + 3) {
    margin-top: 0;
  }
}

#FooterPromotion {
  padding: 20px 0px;
  background-color: #edf6ff;
}

#FooterPromotion .FooterPromotionItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  #FooterPromotion .FooterPromotionItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #FooterPromotion .FooterPromotionItem img {
    width: 135px;
  }
}

footer {
  padding: 40px 0px;
  background-color: #203569;
}

footer h3 {
  color: #ffffff;
  font-size: 1rem;
}

@media (max-width: 768px) {
  footer h3 {
    text-align: center;
  }
}

footer .FooterItem ul {
  padding: 0;
}

footer .FooterItem ul li {
  padding: 10px 0px;
}

footer .FooterItem ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

footer .FooterItem ul li a i {
  margin-right: 11px;
  font-size: 18px;
}

@media (max-width: 768px) {
  footer .FooterItem ul {
    text-align: center;
  }
}

#Blogs .BlogLeft .DateFormats {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Blogs .BlogLeft .DateFormats #date {
  font-size: 50px;
  text-align: end;
}

#Blogs .BlogLeft .DateFormats #year {
  font-size: 14px;
  font-weight: 400;
  text-align: end;
}

#Blogs .BlogLeft ul {
  padding: 0;
  text-align: end;
}

@media (max-width: 768px) {
  #Blogs .BlogLeft ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#Blogs .BlogLeft ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Blogs .BlogLeft ul li a {
  text-decoration: none;
  color: black;
}

#Blogs .BlogLeft ul li span {
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 10px;
  text-decoration: none;
  color: black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  font-weight: 500;
}

#Blogs .BlogLeft ul li span:hover {
  color: #203569;
}

@media (max-width: 768px) {
  #Blogs .BlogLeft ul li span {
    margin: 0;
  }
}

#Blogs .BlogLeft ul li:last-child {
  font-weight: 600;
}

#Blogs .CenterBlog {
  margin-bottom: 100px;
}

#Blogs .CenterBlog p {
  font-size: 14px;
}

#Blogs .CenterBlog h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

#Blogs .CenterBlog h1:hover {
  color: #203569;
}

@media (max-width: 768px) {
  #Blogs .CenterBlog h1 {
    text-align: center;
    font-variant: unicase;
  }
}

#Blogs .CenterBlog h4 {
  font-size: 20px;
  font-weight: 500;
}

#Blogs .CenterBlog img {
  border-radius: 7px;
  max-width: 100%;
  margin-bottom: 20px;
}

#Blogs .RightBlog {
  margin-top: 39px;
}

#Blogs .RightBlog input {
  width: 340px;
  padding: 8px;
}

#Blogs .RightBlog input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 768px) {
  #Blogs .RightBlog input {
    width: 300px;
    padding: 5px;
  }
}

#Blogs .RightBlog p {
  margin-top: 15px;
  font-size: 15px;
  font-family: "Bebas Neue", cursive;
}

#Blogs .RightBlog #recentPost, #Blogs .RightBlog #Archive, #Blogs .RightBlog #category {
  padding-left: 10px;
  padding-right: 25px;
  margin-bottom: 40px;
}

#Blogs .RightBlog #recentPost li, #Blogs .RightBlog #Archive li, #Blogs .RightBlog #category li {
  margin: 4px 0px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

#Blogs .RightBlog #recentPost li a i, #Blogs .RightBlog #Archive li a i, #Blogs .RightBlog #category li a i {
  color: #151515;
  margin-right: 10px;
}

#Blogs .RightBlog #ButtonList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

#Blogs .RightBlog #ButtonList li {
  margin: 3px 3px;
}

#Blogs .RightBlog #ButtonList li button {
  padding: 5px 5px;
  border: 1px solid #203569;
  color: #203569;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#Blogs .RightBlog #ButtonList li button:hover {
  color: white;
  background-color: #203569;
}

#Product {
  /* progress bar */
}

#Product .slider-wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

@media (max-width: 950px) {
  #Product .slider-wrapper {
    height: auto;
  }
}

#Product .image {
  position: relative;
  height: 600px;
}

@media (max-width: 768px) {
  #Product .image {
    height: auto;
  }
}

#Product .image .infos {
  background-color: rgba(0, 0, 0, 0.664);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 5555;
  right: 0px;
  left: 0px;
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
}

@media (max-width: 576px) {
  #Product .image .infos {
    height: auto;
    padding: 21px 0px;
  }
}

#Product .image .infos img {
  width: 100px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  #Product .image .infos img {
    width: 40px;
    padding: 8px;
  }
}

#Product .image .infos h2 {
  font-size: 37px;
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 20px 0px;
  color: white;
  text-transform: uppercase;
}

#Product .image .infos h2 span {
  color: #ee1d24;
}

@media (max-width: 576px) {
  #Product .image .infos h2 {
    font-size: 14px;
    padding: 11px;
  }
}

#Product .image .infos p {
  font-size: 15px;
  color: white;
}

@media (max-width: 576px) {
  #Product .image .infos p {
    font-size: 13px;
    margin: 0;
    padding: 0px 20px;
  }
}

#Product .image .infos button {
  text-align: center;
  padding: 15px 0px;
  background-color: rgba(128, 128, 128, 0.562);
  width: 100%;
  color: white;
  font-size: 17px;
  border: 1px solid black;
  -webkit-filter: blur(0.2px);
          filter: blur(0.2px);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#Product .image .infos button:hover {
  background-color: #203569;
  color: white;
  border: 1px solid transparent;
}

@media (max-width: 576px) {
  #Product .image .infos button {
    padding: 5px 5px;
    width: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

#Product .slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

#Product .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

#Product .slick-list:focus {
  outline: none;
}

#Product .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

#Product .slick-slider .slick-list,
#Product .slick-track,
#Product .slick-slide,
#Product .slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#Product .slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}

#Product .slick-track:before,
#Product .slick-track:after {
  content: "";
  display: table;
}

#Product .slick-track:after {
  clear: both;
}

#Product .slick-loading .slick-track {
  visibility: hidden;
}

#Product .slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

#Product .slick-slide img {
  display: block;
  max-width: 100%;
}

#Product .slick-slide.dragging img {
  pointer-events: none;
}

#Product .slick-initialized .slick-slide {
  display: block;
}

#Product .slick-loading .slick-slide {
  visibility: hidden;
}

#Product .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

#Product .slick-slide > .slick-slider-img {
  position: relative;
  display: block;
  width: 100%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

#Product .slick-slide img {
  display: block;
  width: 100%;
}

#Product .slick-slide img.slick-loading {
  display: none;
}

#Product .fa-chevron-left {
  background: rgba(185, 184, 184, 0.774);
  border: none;
  border-radius: none;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  left: 10px;
  padding: 1em 1.5em;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  z-index: 400;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

#Product .fa-chevron-left:hover {
  color: #203569;
}

@media (max-width: 576px) {
  #Product .fa-chevron-left {
    left: 5px;
    padding: 4px 10px;
  }
}

#Product .fa-chevron-right {
  background: rgba(185, 184, 184, 0.774);
  border: none;
  border-radius: none;
  position: absolute;
  cursor: pointer;
  top: 40%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  right: 10px;
  padding: 1em 1.5em;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  z-index: 400;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

#Product .fa-chevron-right:hover {
  color: #203569;
}

@media (max-width: 576px) {
  #Product .fa-chevron-right {
    right: 5px;
    padding: 4px 10px;
  }
}

#Product .slider-progress {
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
}

@media (max-width: 576px) {
  #Product .slider-progress {
    height: 2px;
  }
}

#Product .slider-progress .progress {
  width: 0%;
  height: 10px;
  background: #ee1d24;
}

#ProductMeshModel {
  padding: 40px 0px;
  margin: 15px 0px;
}

#ProductMeshModel h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 38px;
}

#ProductMeshModel .LeftP, #ProductMeshModel .RightP {
  padding: 30px 0px;
  margin: 10px 0px;
}

#ProductMeshModel .LeftP p, #ProductMeshModel .RightP p {
  line-height: 33px;
}

#ProductMeshModel h5 {
  display: inline-block;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  position: relative;
}

#ProductMeshModel h5::after {
  position: absolute;
  content: "";
  top: 28px;
  left: 77px;
  background-color: #ee1d24;
  width: 40px;
  height: 2px;
}

#ProductMeshModel .IncludeApp {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  #ProductMeshModel .IncludeApp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

#ProductMeshModel .IncludeApp .AppItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ProductMeshModel .IncludeApp p {
  font-weight: 500;
  margin: 0;
  margin-left: 10px;
  cursor: pointer;
}

#ProductMeshModel .IncludeApp:hover {
  color: #ee1d24;
}

#FooterSliderSection .card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

#FooterSliderSection .card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#FooterSliderSection .card .HoverItemProduct {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #20356996;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#FooterSliderSection .card .HoverItemProduct .HoverProductItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#FooterSliderSection .card .HoverItemProduct .HoverProductItem i {
  font-size: 20px;
  color: white;
  margin: 10px 0px;
}

#FooterSliderSection .card .HoverItemProduct .HoverProductItem p {
  font-size: 14px;
  color: white;
}

#FooterSliderSection .card:hover .HoverItemProduct {
  opacity: 1;
}

#FooterSliderSection .card img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#FooterSliderSection .card:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#FooterSliderSection .card-slider {
  position: relative;
}

#FooterSliderSection .card-slider .fa-chevron-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  top: 50%;
  right: 10px;
  position: absolute;
  z-index: 5555;
  width: 40px;
  border: 1px solid transparent;
  padding: 10px 0px;
  background-color: rgba(212, 211, 211, 0.808);
  cursor: pointer;
  opacity: 0.5;
}

#FooterSliderSection .card-slider .fa-chevron-right:hover {
  opacity: 1;
}

#FooterSliderSection .card-slider .fa-chevron-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  z-index: 666;
  top: 50%;
  left: 10px;
  position: absolute;
  width: 40px;
  border: 1px solid transparent;
  padding: 10px 0px;
  background-color: rgba(212, 211, 211, 0.808);
  cursor: pointer;
  opacity: 0.5;
}

#FooterSliderSection .card-slider .fa-chevron-left:hover {
  opacity: 1;
}

#OurTeam {
  padding: 20px 0px;
}

#OurTeam h1 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  padding: 20px 0px;
  display: inline-block;
  position: relative;
}

#OurTeam h1::before {
  position: absolute;
  top: 36px;
  content: "";
  height: 19px;
  width: 220px;
  left: 186px;
  background-color: #c4c4c4;
}

@media (max-width: 768px) {
  #OurTeam h1::before {
    width: 150px;
  }
}

@media (max-width: 576px) {
  #OurTeam h1::before {
    width: 60px;
    height: 12px;
    left: 160px;
    top: 40px;
  }
}

#OurTeam h1::after {
  position: absolute;
  top: 36px;
  content: "";
  height: 19px;
  width: 220px;
  right: 186px;
  background-color: #c4c4c4;
}

@media (max-width: 768px) {
  #OurTeam h1::after {
    width: 150px;
  }
}

@media (max-width: 576px) {
  #OurTeam h1::after {
    width: 60px;
    height: 12px;
    right: 160px;
    top: 40px;
  }
}

#OurTeam p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.3px;
}

@media (max-width: 768px) {
  #OurTeam p {
    font-size: 14px;
    line-height: 30px;
  }
}

#OutTeamItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  #OutTeamItems {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#OutTeamItems .teamItemBody {
  padding: 0px 10px;
}

#OutTeamItems .teamItemBody .teams {
  margin: 15px 0px;
}

@media (max-width: 768px) {
  #OutTeamItems .teamItemBody .teams {
    margin: 5px 0px;
  }
}

#OutTeamItems .teamItemBody .teams i {
  color: #ee1d24;
  font-size: 20px;
}

#OutTeamItems .teamItemBody .teams span {
  font-family: "Bebas Neue", cursive;
  margin-left: 10px;
  font-size: 22px;
  letter-spacing: 1px;
}

#OutTeamItems .teamItemBody .teams p {
  font-size: 15px;
  font-weight: 600;
}

@media (max-width: 768px) {
  #OutTeamItems .teamItemBody .teams p {
    font-size: 13px;
  }
}

#contactPage {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

#Contactitem {
  padding: 20px 0px;
}

#Contactitem .leftContact {
  background-color: white;
  height: 307px;
  padding: 20px 30px;
}

#Contactitem .Contactitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px;
}

#Contactitem .Contactitems i {
  font-size: 20px;
  margin-top: 10px;
}

#Contactitem .Contactitems .phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Contactitem .Contactitems .Text {
  margin-left: 12px;
}

#Contactitem p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

#Contactitem a {
  text-decoration: none;
  color: black;
}

.ContactForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ContactForm form input {
  margin: 10px 0px;
  padding: 15px 0px;
  border: none;
  border-bottom: 1px solid #203569;
}

.ContactForm form input::-webkit-input-placeholder {
  margin-right: 20px;
  padding: 0px 20px;
}

.ContactForm form input:-ms-input-placeholder {
  margin-right: 20px;
  padding: 0px 20px;
}

.ContactForm form input::-ms-input-placeholder {
  margin-right: 20px;
  padding: 0px 20px;
}

.ContactForm form input::placeholder {
  margin-right: 20px;
  padding: 0px 20px;
}

.ContactForm form input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0px;
  border-bottom: 1px solid #203569;
}

.ContactForm form textarea {
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid #203569;
}

.ContactForm form textarea:focus {
  border: 0px;
  border: none;
  border-bottom: 1px solid #203569;
}

.ContactForm button {
  background-color: #E5E5E5;
  padding: 12px 20px;
  margin: 20px 0px;
  text-align: center;
  letter-spacing: 1px;
  border: 1px solid darkgray;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.ContactForm button:hover {
  background-color: #203569;
  color: white;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  offset: none;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  width: 1400px;
}

main {
  overflow-x: hidden;
}

#back-to-top {
  background-color: #203569;
  bottom: 20px;
  color: #fff;
  display: none;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 40px;
  z-index: 99;
}

#back-to-top a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */